section.calendar-section
  h3.section-title
    | Ven a conocernos
    i.fas.fa-chevron-down
  .container#calendario
    .calendar-box
      h4.calendar-title ¡Conoce a Jumbito y sus amigos en nuestros locales!

      .calendar-day
        ul.calendar-list
          li.calendar-li
            .calendar-info.date 23/02
            .calendar-info.hour 10:30
            .calendar-info.local Av Kennedy 9001, Las Condes

        .calendar-day-bg
          .calendar-day-bg-item.date(style="background-color: #FEC31E;")
          .calendar-day-bg-item.hour(style="background-color: #FEC31E;")
          .calendar-day-bg-item.local(style="background-color: #FEC31E;")

      .calendar-day
        ul.calendar-list
          li.calendar-li
            .calendar-info.date 24/02
            .calendar-info.hour 12:30
            .calendar-info.local 1 Norte 2901, Viña del Mar
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 12:30
            .calendar-info.local Angamos 745, Antofagasta
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 12:30
            .calendar-info.local Longitudinal Norte 134, Chillán
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 19:30
            .calendar-info.local Av Argentina 51, Valparaíso
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 19:30
            .calendar-info.local Av Barros Arana 1068, Local 75, Concepción

        .calendar-day-bg
          .calendar-day-bg-item.date(style="background-color: #FEA81E;")
          .calendar-day-bg-item.hour(style="background-color: #FEA81E;")
          .calendar-day-bg-item.local(style="background-color: #FEA81E;")

      .calendar-day
        ul.calendar-list
          li.calendar-li
            .calendar-info.date 25/02
            .calendar-info.hour 12:30
            .calendar-info.local Av Hermanos Maristas 805, Los Andes
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 12:30
            .calendar-info.local Pedro Aguirre Cerda 9400, Antofagasta
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 12:30
            .calendar-info.local Costanera Rivera Norte 1 9781, Concepción

        .calendar-day-bg
          .calendar-day-bg-item.date(style="background-color: #FE671E;")
          .calendar-day-bg-item.hour(style="background-color: #FE671E;")
          .calendar-day-bg-item.local(style="background-color: #FE671E;")

      .calendar-day
        ul.calendar-list
          li.calendar-li
            .calendar-info.date 26/02
            .calendar-info.hour 13:30
            .calendar-info.local Camino Pajaritos 3302, Maipú
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 19:30
            .calendar-info.local Av Américo Vespucio 1001, Maipú

        .calendar-day-bg
          .calendar-day-bg-item.date(style="background-color: #FE1E1E;")
          .calendar-day-bg-item.hour(style="background-color: #FE1E1E;")
          .calendar-day-bg-item.local(style="background-color: #FE1E1E;")

      .calendar-day
        ul.calendar-list
          li.calendar-li
            .calendar-info.date 27/02
            .calendar-info.hour 13:30
            .calendar-info.local Llano Subercaseaux 3519, San Miguel
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 19:30
            .calendar-info.local Av Portales 3698, San Bernardo

        .calendar-day-bg
          .calendar-day-bg-item.date(style="background-color: #FE1E6F;")
          .calendar-day-bg-item.hour(style="background-color: #FE1E6F;")
          .calendar-day-bg-item.local(style="background-color: #FE1E6F;")

      .calendar-day
        ul.calendar-list
          li.calendar-li
            .calendar-info.date 02/03
            .calendar-info.hour 12:30
            .calendar-info.local Av Francisco Bilbao 4144, Las Condes
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 19:30
            .calendar-info.local Av Francisco Bilbao 8750, La Reina
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 19:30
            .calendar-info.local Av Sanchez Fontecilla 12000, Peñalolén

        .calendar-day-bg
          .calendar-day-bg-item.date(style="background-color: #D11EFE;")
          .calendar-day-bg-item.hour(style="background-color: #D11EFE;")
          .calendar-day-bg-item.local(style="background-color: #D11EFE;")

      .calendar-day
        ul.calendar-list
          li.calendar-li
            .calendar-info.date 03/03
            .calendar-info.hour 12:30
            .calendar-info.local Av Andrés Bello 2433, L 1000, Providencia
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 12:30
            .calendar-info.local Av Concha y Toro 3854, Puente Alto
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 12:30
            .calendar-info.local Av Ercilla 193, Los Ángeles
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 18:30
            .calendar-info.local Av Santo Domingo 67, Puente Alto
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 19:30
            .calendar-info.local Camino El Alba 11969, L 101, Las Condes

        .calendar-day-bg
          .calendar-day-bg-item.date(style="background-color: #831EFE;")
          .calendar-day-bg-item.hour(style="background-color: #831EFE;")
          .calendar-day-bg-item.local(style="background-color: #831EFE;")

      .calendar-day
        ul.calendar-list
          li.calendar-li
            .calendar-info.date 04/03
            .calendar-info.hour 12:30
            .calendar-info.local Av José Pedro Alessandri 1166, Ñuñoa
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 12:30
            .calendar-info.local Av H. de la Concepción 2855, Iquique
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 12:30
            .calendar-info.local Av Alemania 633, Temuco
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 12:30
            .calendar-info.local Camino Los Trapenses 3515, Lo Barnechea
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 18:30
            .calendar-info.local Av La Dehesa 1445, Lo Barnechea
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 19:30
            .calendar-info.local Av Vicuña Mackenna 6100, La Florida

        .calendar-day-bg
          .calendar-day-bg-item.date(style="background-color: #4C1EFE;")
          .calendar-day-bg-item.hour(style="background-color: #4C1EFE;")
          .calendar-day-bg-item.local(style="background-color: #4C1EFE;")

      .calendar-day
        ul.calendar-list
          li.calendar-li
            .calendar-info.date 10/03
            .calendar-info.hour 12:30
            .calendar-info.local Av Frei Montalva 750, Rancagua
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 12:30
            .calendar-info.local Av Ramón Freire 1851, Quilpué
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 12:30
            .calendar-info.local Av Chorrillos 1759, Calama
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 12:30
            .calendar-info.local Av Errázuriz 1040, Valdivia
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 18:30
            .calendar-info.local Av Concón 3850, Reñaca
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 19:30
            .calendar-info.local Av Bernardo O’Higgins 201, Curicó

        .calendar-day-bg
          .calendar-day-bg-item.date(style="background-color: #1E57FE;")
          .calendar-day-bg-item.hour(style="background-color: #1E57FE;")
          .calendar-day-bg-item.local(style="background-color: #1E57FE;")

      .calendar-day
        ul.calendar-list
          li.calendar-li
            .calendar-info.date 11/03
            .calendar-info.hour 12:30
            .calendar-info.local Av El Arenal 411, Talca
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 12:30
            .calendar-info.local Plaza Yungay 645, Osorno

        .calendar-day-bg
          .calendar-day-bg-item.date(style="background-color: #1EACFE;")
          .calendar-day-bg-item.hour(style="background-color: #1EACFE;")
          .calendar-day-bg-item.local(style="background-color: #1EACFE;")

      .calendar-day
        ul.calendar-list
          li.calendar-li
            .calendar-info.date 18/03
            .calendar-info.hour 12:30
            .calendar-info.local Guillermo Ulriksen 1630, La Serena
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 12:30
            .calendar-info.local Av Copayapu 2406, Copiapó
          li.calendar-li
            .calendar-info.date
            .calendar-info.hour 12:30
            .calendar-info.local Av Ejército 470, Puerto Montt

        .calendar-day-bg
          .calendar-day-bg-item.date(style="background-color: #18DCCC;")
          .calendar-day-bg-item.hour(style="background-color: #18DCCC;")
          .calendar-day-bg-item.local(style="background-color: #18DCCC;")
