section.section-game
    h3.section-title
        | ¡Juega con nosotros!
        i.fas.fa-chevron-down
    a.section-game-content(href="https://jumbitoysusamigos.cl/game/", target="_blank")#game
      picture
        source(srcset="media/game-360.jpg", media="(max-width: 360px)")
        source(srcset="media/game-768.jpg", media="(max-width: 768px)")
        source(srcset="media/game-1280.jpg", media="(min-width: 769px)")
        img(src="media/game-1280.jpg")
