section.jumbito-section
  h3.section-title
    | Conoce a Jumbito y sus amigos
    i.fas.fa-chevron-down
  .container#jumbito
    div.jumbito-story
      img.jumbito-name(src="media/jumbitoname.png")
      p.jumbito-text
        | Hola, soy !{"<strong>JUMBITO</strong>"} me preocupa el medio ambiente y creo que todos deberíamos cuidar el planeta, mis amigos dicen que soy el líder responsable del grupo porque me encuentran responsable y perseverante.
        br
        | ¡Mi colación en esta aventura serán las manzanas!
      img.section-character-icon(src="media/manzana.svg")
    span.jumbito-image-wrapper
      img.jumbito-image(src="media/jumbito.png")
