section.rash-section
  .container#rash
    span.rash-image-wrapper
      img.rash-image(src="media/rash.png")
    div.rash-story
      img.rash-name(src="media/rashname.png")
      p.rash-text
        | Hola, soy !{"<strong>RASH</strong>"} me encanta andar en skate y el rap es mi pasión, mis amigos se ríen mucho de mis travesuras.
        br
        | ¡Mi colación en esta aventura serán los chips de frutas y un jugo!
      img.section-character-icon(src="media/jugo.svg")
