section.rozy-section
  .container#rozy
    div.rozy-story
      img.rozy-name(src="media/rozyname.png")
      p.rozy-text
        | Hola, soy !{"<strong>ROZY</strong>"} amo la tecnología y saber lo que está pasando en el mundo. A mis amigos les encanta que planifique las aventuras.
        br
        | ¡Mi colación en esta aventura serán las compotas!
      img.section-character-icon(src="media/compota.svg")
    span.rozy-image-wrapper
      img.rozy-image(src="media/rozy.png") 
