section.tin-section
  .container#tin
    div.tin-story
      img.tin-name(src="media/tinname.png")
      p.tin-text
        | Hola, soy !{"<strong>TIN</strong>"} me encantan los colores y vivir distintas aventuras, mis amigos dicen que soy creativo, divertido y les gusta mi personalidad.
        br
        | ¡Mi colación en esta aventura será el yoghurt con granola!
      img.section-character-icon(src="media/yoghurt-granola.svg")
    span.tin-image-wrapper
      img.tin-image(src="media/tin.png") 
