section.zooly-section
  .container#zooly
    span.zooly-image-wrapper
      img.zooly-image(src="media/zooly.png")
    div.zooly-story
      img.zooly-name(src="media/zoolyname.png")
      p.zooly-text
        | Hola, soy !{"<strong>ZOOLY</strong>"} amo el deporte y conocer nuevas culturas y compartir. Mis amigos siempre me piden consejos para resolver sus problemas.
        br
        | ¡Mi colación en esta aventura serán los cereales para compartir!
      img.section-character-icon(src="media/cereal.svg")
