/* Colors palette */
$color1: white;
$color2: #009640;
$color3: #FEC31E;
$color4: #2DC6EE;
$color5: #F67A30;
$color6: #3FA270;
$color7: #EC181D;
$color8: black;
$color9: #333;
$color10: #70B52F;
$color11: #82CBD3;

/* Breakpoints */
$desktop: 1280px;
$tablet-land: 1024px;
$tablet: 768px;
$break-small: 520px;
$break-xsmall: 320px;
