extends layouts/home

block head_end
block content
  include parts/header

  main.characters-section
    include parts/sections/jumbito
    include parts/sections/rash
    include parts/sections/tin
    include parts/sections/zooly
    include parts/sections/rozy
    include parts/sections/video
    include parts/sections/game

  include parts/footer
